$breakpoint-desktop: 1023px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 580px;
$breakpoint-small: 280px;

.main {
  overflow: hidden;
  .mainContainer {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 140px 10px 0;
    font-family: Poppins;
    font-style: normal;
    .hero-col {
      //padding: clamp(1rem, 8vw, 5rem);
      padding-top: 100px;
      max-width: 80%;
      .mainTitle {
        font-size: clamp(24px, 8vw, 72px);
        font-weight: 600;
        background: linear-gradient(
          to right,
          #ccb1ff 6%,
          #48cfcf 60%,
          #ff4ddb 88%,
          #4f60cf 100%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .circle {
      width: clamp(250px, 30vw, 500px);
    }
    .rectangle1 {
      position: absolute;
      right: 200px;
      bottom: 160px;
      width: 100px;
      height: 100px;
      background: linear-gradient(
        180deg,
        rgba(0, 86, 253, 0.45) 0%,
        rgba(0, 194, 255, 0.72) 100%
      );
      border-radius: 20px;
    }
    .rectangle2 {
      position: absolute;
      top: 150px;
      right: 200px;
      width: 100px;
      height: 100px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(255, 0, 214, 0.594) 100%
      );
      border-radius: 100px;
    }
    .custom-shape-divider-bottom-1618817524 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1618817524 svg {
      position: relative;
      display: block;
      width: calc(132% + 1.3px);
      height: 201px;
    }

    .custom-shape-divider-bottom-1618817524 .shape-fill {
      fill: rgba(255, 255, 255, 0.1);
    }

    .scroll {
      position: absolute;
      bottom: 60px;
      width: 50px;
      height: 90px;
      border: 4px solid rgba(255, 255, 255, 0.9);
      box-sizing: border-box;
      border-radius: 35px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transition: 0.3s;
        border: 4px solid rgba(126, 240, 255, 0.9);
      }
    }
  }
}

@media screen and (max-width: $breakpoint-desktop) {
  .main {
    .mainContainer {
      .mainTitle {
        //font-size: 48px;
      }
      .circle,
      .rectangle1,
      .rectangle2 {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .main {
    .mainContainer {
      .mainTitle {
        //font-size: 48px;
      }

      .custom-shape-divider-bottom-1618817524 svg {
        width: calc(132% + 1.3px);
        height: 75px;
      }
      .custom-shape-divider-bottom-1618817524 .shape-fill {
        fill: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .main {
    .mainContainer {
      .hero-col {
        padding-top: 0;
        .mainTitle {
          font-size: clamp(24px, 10vw, 72px);
        }
      }
      .scroll {
        margin-top: 240px;
        width: 40px;
        height: 70px;
      }
    }
  }
}
@media screen and (max-width: $breakpoint-small) {
  .main {
    .mainContainer {
      .scroll {
        margin-top: 180px;
        width: 40px;
        height: 70px;
      }
    }
  }
}
