$breakpoint-mobile: 580px;
$breakpoint-small: 280px;

.project {
  width: 100%;
  overflow: hidden;
  .projectContainer {
    max-width: 1350px;
    margin: auto;
    padding: 100px 10px 200px;
    font-style: normal;
    .projectsWrap {
      position: relative;
      max-width: 1280px;
      min-height: 800px;
      background: #202020;
      border-radius: 20px;
      padding: 40px;
      transition: ease-in-out 0.3s;
      cursor: pointer;
      overflow: hidden;
      .title {
        font-weight: 600;
        font-size: 36px;
        color: rgba(255, 255, 255, 0.9);
        padding-bottom: 14px;
      }
      .description {
        font-weight: normal;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        padding-bottom: 20px;
      }
      .projectsCard {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .card {
          max-width: 300px;
          width: 100%;
          min-height: 500px;
          background: rgba(0, 0, 0, 1);
          border-radius: 10px;
          margin: 20px 10px;
          transition: 0.3s;
          z-index: 2;
          .imageWrap {
            max-width: 300px;
            width: 100%;
            height: 200px;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            .image {
              max-width: 256px;
              width: 100%;
              height: 182px;
              object-fit: contain;
            }
          }
          .links {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding-top: 10px;
            .link {
              color: rgba(255, 255, 255, 0.8);
              border: 1px solid rgba(255, 255, 255, 0.4);
              box-sizing: border-box;
              border-radius: 10px;
              padding: 0 10px;
              cursor: pointer;
            }
          }
          .projectTitle {
            font-weight: 800;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.9);
            padding: 10px;
          }
          .details {
            min-height: 124px;
            font-weight: normal;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.8);
            padding: 0 10px;
          }
          .skills {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 20px 10px;
            .skillWrap {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid rgba(255, 255, 255, 0.2);
              box-sizing: border-box;
              border-radius: 20px;
              padding: 0 4px;
              margin-right: 4px;
              margin-bottom: 10px;
              cursor: default;
              .skill {
                font-weight: 800;
                font-size: 10px;
                color: rgba(255, 255, 255, 0.8);
              }
            }
          }

          &:hover {
            transition: 0.3s;
            box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
            //margin-top: -10px;
          }
        }
      }

      .custom-shape-divider-bottom-1618821907 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
      }

      .custom-shape-divider-bottom-1618821907 svg {
        position: relative;
        display: block;
        width: calc(250% + 1.3px);
        height: 500px;
        transform: rotateY(180deg);
      }

      .custom-shape-divider-bottom-1618821907 .shape-fill {
        fill: rgba(255, 255, 255, 0.1);
      }

      .scroll {
        width: 50px;
        height: 90px;
        border: 4px solid rgba(255, 255, 255, 0.9);
        box-sizing: border-box;
        border-radius: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          transition: 0.3s;
          border: 4px solid rgba(126, 240, 255, 0.9);
        }
      }

      &:hover {
        //margin: 0 auto 0;
        transition: ease-in-out 0.3s;
        box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.25), 10px 20px 20px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .project {
    .projectContainer {
      .projectsWrap {
        padding: 40px 20px;
        .title {
          font-size: 18px;
        }
        .description {
          font-size: 10px;
        }

        .custom-shape-divider-bottom-1618821907 svg {
          width: calc(250% + 1.3px);
          height: 75px;
        }

        .scroll {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  .project {
    .projectContainer {
      .projectsWrap {
        .title {
          font-size: 14px;
        }
        .description {
          font-size: 8px;
        }
        .projectsCard {
          .card {
            min-height: 400px;
            .imageWrap {
              height: 170px;
              .image {
                width: 216px;
                height: 142px;
              }
            }
            .links {
              .span {
                font-size: 10px;
              }
            }
            .projectTitle {
              font-size: 12px;
            }
            .details {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
